body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /* gets rid of the white border around flex-container */
    background-color: #FEBEB0;
}

.title {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#black, #grey, #rainbow, #clear, #eraser{
    height: 40px;
    width: 70px;
    margin: 0 4px;
}

.firstQuestion {
    height: 60px;
    width: 380px;
    margin-bottom: 8px;
}

.column {
    display: inline-block;
    box-sizing: border-box; 
}

.container {
    height: 500px;
    width: 960px;
    font-size: 0;
    margin: auto;
    text-align: center;
}